node_modules
*/node_modules
.cache/
dist/
.env
.DS_Store
coverage/
package-lock.json
.env.local
.env.yokel
src/temp GH issues.md
marking_and_admin/credentials.json
*.pickle
*.pyc
log.txt
temp_results.json
marks.csv
2021_emails.csv
dependencyGraph.dot
dependencyGraph.svg
course-admin/
avatar.jpg
