* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Blender-book";
  src: url("../blenderpro-book-webfont.woff");
}

:root {
  --header-colour: hsl(199, 100%, 9%);
  --header-text-colour: hsla(175, 84%, 45%, 1);
  --header-height: 5em;

  --background-colour: hsl(0, 0%, 97%);
  --tile-colour: hsla(0, 0%, 0%, 0.1);
  --alert-colour: hsl(166, 100%, 50%);
  --fontStack: "Blender-book", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --edge: 0.5em;

  --tile-dim: calc(98vw / 6);
  --tile-dim-min: 8em;
}

body,
div.flowspace#root {
  background-color: var(--background-colour);
  font-family: var(--fontStack);
  font-size: 24px;
  margin: 0 auto;
}
