/* Day row */
.day-name {
  display: inline-block;
  height: var(--day-row-height);
  text-align: right;
  vertical-align: top;
  width: 11%;
}
.day-representation {
  display: inline-block;
  height: var(--day-row-height);
  position: relative;
  width: 89%;
}
.day-representation::after {
  content: "";
  /* background-color: black; */
  width: 100%;
  display: block;
  height: 1px;
  padding-top: 1.2em;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.25);
}

.day-event {
  background-color: aliceblue;
  border-radius: 0.2em;
  border: 1px solid silver;
  display: inline-block;
  height: var(--day-row-height);
  overflow: hidden;
  position: absolute;
  transition: all 0.1s;
}
.day-event:hover {
  height: 15em;
  overflow: auto;
  width: 15em !important;
  z-index: 10;
}

.rating {
  position: absolute;
  right: 0em;
}
.day-event h1,
.day-event h2 {
  margin: 0;
  font-size: 79%;
  display: inline-block;
  width: 15em;
}
.quality-1 {
  background-color: #d73027;
}
.quality-2 {
  background-color: #fc8d59;
}
.quality-3 {
  background-color: #fee08b;
}
.quality-4 {
  background-color: #ffffbf;
}
.quality-5 {
  background-color: #d9ef8b;
}
.quality-6 {
  background-color: #91cf60;
}
.quality-7 {
  background-color: #1a9850;
}
