/* interruption-counter */
/* .interruption-counter {} */
.interruption-counter button {
  background: none;
  border: none;
  cursor: grab;
  width: calc(100% - 2 * var(--edge));
}

.interruption-counter h4 {
  padding-left: 24%;
}
