/* .sidebar {
  background-color: var(--header-colour);
  display: inline-block;
  height: calc(100vh - var(--header-height));
  width: 30%;
  max-width: 20em;
}
.sidebar li {
  margin-bottom: 1em;
}
.main-content {
  display: inline-block;
  width: 70%;
  vertical-align: bottom;
} */

/* Layout Grid */
@media screen and (min-width: 30em) and (orientation: landscape) {
  .g-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: calc((100vh - var(--header-height)) / 2) calc(
        (100vh - var(--header-height)) / 2
      ); /* 1fr 1fr; */
    grid-template-areas: "g-clock g-interruptions g-team g-team" "g-history g-history g-history g-history";
    min-height: calc(2 * var(--tile-min-height));
  }

  .g-clock {
    grid-area: g-clock;
  }

  .g-interruptions {
    grid-area: g-interruptions;
  }

  .g-team {
    grid-area: g-team;
  }

  .g-history {
    grid-area: g-history;
  }

  .g-extras {
    grid-area: g-extras;
  }
}
/* end Layout Grid */
