/* Login Page */

.login {
  padding: 0 1em;
  margin: auto;
}
.login button {
  margin: 1em;
  width: calc(100% - 2em);
}
.signin,
.signup,
.forgotpassword {
  display: inline-block;
  height: 2em;
  text-align: center;
  vertical-align: top;
  width: 33%;
}
