/* post-timer-report */
.post-timer-report {
  max-height: 95vh;
  max-width: 90vw;
}

.star-rating,
.project-picker,
.notes,
.record-button,
.poke-banner {
  margin-top: 1em;
  width: 100%;
}

.submit-button-box {
  position: absolute;
  bottom: 1em;
  width: calc(100% - (2 * var(--edge)));
}

.poke-banner {
  background-color: var(--alert-colour);
  text-align: center;
  padding: 1em;
}

.poke-banner button {
  background-color: var(--ms-teams-colour);
  border-radius: 3em;
  color: white;
  padding: 0.1em;
  padding-right: 1em;
}

.poke-banner button img {
  height: 4em;
  border-radius: 2em;
  margin-left: 0.4em;
  margin-right: 1em;
}

.interruption-finaliser input {
  width: 3em;
}
