/* settings page */

/* grid */

.settings-page .settings-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "gProfile gTimer" "gData gDanger";
}

.settings-Profile {
  grid-area: settings-Profile;
}

.settings-Timer {
  grid-area: settings-Timer;
}

.settings-Data {
  grid-area: settings-Data;
}

.settings-Danger {
  grid-area: settings-Danger;
}

/*  */

.settings-page {
  max-width: 95vw;
}

.settings-page .teammate {
  float: right;
  width: 40%;
  padding: 1em;
}
.profile-inputs {
  width: 60%;
}
.settings-page button:disabled.danger {
  opacity: 0.3;
}
.settings-page button.danger {
  font-size: 200%;
  background-color: red;
}
.settings-page .demo-square {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin: 0 0.2em;
  transform: translateY(0.6em);
}

.brightness-feedback {
  /* transform: translateY(-0.5em); */
  display: inline-block;
}
#brightness-readout {
  width: 2.6em;
  /* outline: 1px solid; */
  display: inline-block;
  text-align: center;
}
.demo-square.red {
  background-color: red;
}
.demo-square.green {
  background-color: green;
}
.notification-settings input {
  width: 1em;
  display: inline;
  /* outline: 1px solid; */
  min-width: initial;
  transform: scale(4);
  margin: 0 1em;
}
.update-button button {
  float: right;
}
.update-button {
  width: calc(100% - 2 * var(--edge));
  clear: both;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
