@import "./stylesheets/basics.css";
@import "./stylesheets/layout-grid.css";

.person {
  display: inline-block;
  height: var(--tile-dim);
  padding: 0;
  position: relative;
  width: var(--tile-dim);
  overflow: hidden;
}

.person .info {
  /* height: calc(100% - var(--edge) * 2); */
  background: #ffffff78;
  bottom: var(--edge);
  display: inline;
  left: var(--edge);
  position: absolute;
  width: calc(100% - (var(--edge) * 2));
}
